

$data-size: 12px;
$data-font-color: #d7ccd7;

$back_color:  lightslategray;
$desc_color: rgb(210, 57, 57);

$a: column;
$b: space-around;
$c: center;

$pc-size: 1906px;
$laptop-size: 1024px;
$tablet-size: 920px;
$mobile-size: 360px;
